
$class-fade-in-rotate-forward: "fade-in-rotate-forward";
$class-fade-out-rotate-back  : "fade-out-rotate-back";

$class-rotated-back: "rotated-back";
$class-rotated-forward: "rotated-forward";

$class-spin: "spin";
$class-fade-in  : "fade-in";
$class-fade-out : "fade-out";
$class-very-slowly: "very-slowly";
$class-scale-in: "scale-in";
$class-pulse: "pulse";
