//////////////////////// GENERICS
$class-not                         : "not";
$class-less                        : "less";
$class-this                        : "this";
$class-alternate                   : "alternate";
$class-fancy                       : "fancy";
$class-much                        : "much";
$class-more                        : "more";
$class-way-more                    : "way-more";
$class-negative                    : "negative";
$class-big                         : "big";
$class-mostly                      : "mostly";
$class-barely                      : "barely";
$class-darker                      : "darker";
$class-much-darker                 : "#{ $class-much }-darker";
$class-lighter                     : "lighter";
$class-much-lighter                : "#{ $class-much }-#{ $class-lighter }";
$class-desaturated                 : "desaturated";
$class-thick                       : "thick";
$class-heavy                       : "heavy";
$class-dotted                      : "dotted";
$class-when                        : "when";
$class-when-retina                 : "#{ $class-when }-retina";
$class-when-first                  : "#{ $class-when }-first";
$class-when-last                   : "#{ $class-when }-last";
$class-target                      : "target";
$class-disabled                    : "disabled";
$class-first                       : "first";
$class-last                        : "last";
// $class-all                      : "all";
$class-inverse                     : "inverse";
$class-inverse-this                : "#{ $class-inverse   }-#{ $class-this }";
// $class-inverse-all              : "#{ $class-inverse   }-#{ $class-all }";
$class-secondary                   : "secondary";
$class-secondary-this              : "#{ $class-secondary }-#{ $class-this }";
// $class-secondary-all            : "#{ $class-secondary }-#{ $class-all }";
$class-active                      : "active";
$class-touching                    : "touching";
//////////////////////// BROWSERS
$class-ff                          : "ff";
$class-when-ff                     : "#{ $class-when }-ff";
$class-ie                          : "ie";
$class-when-ie                     : "#{ $class-when }-ie";
$class-retina                      : "retina";
$class-when-retina                 : "when-#{ $class-retina }";
$class-mobile                      : "mobile";
$class-when-mobile                 : "when-#{ $class-mobile }";
//////////////////////// INTERACTIVITY
$class-interactive                 : "interactive";
$class-selectable                  : "selectable";
$class-not-selectable              : "#{ $class-not }-#{ $class-selectable }";
$class-active                      : "active";
$class-hover                       : "hover";
$class-hoverable                   : "#{ $class-hover }able";
$class-hovered                     : "#{ $class-hover }ed";
$class-not-hovered                 : "#{ $class-not }-#{ $class-hovered }";
$class-loaded                      : "loaded";
$class-when-hovered                : "#{ $class-when }-#{ $class-hovered }";
$class-when-active                 : "#{ $class-when }-#{ $class-active }";
$class-when-touching               : "#{ $class-when }-#{ $class-touching }";
//////////////////////// BLOCKS
$class-transparent                 : "transparent";
$class-mostly-transparent          : "#{ $class-mostly }-transparent";
$class-barely-transparent          : "#{ $class-barely }-transparent";
$class-opaque                      : "opaque";
$class-mostly-opaque               : "#{ $class-mostly }-opaque";
$class-barely-opaque               : "#{ $class-barely }-opaque";
$class-shaded                      : "shaded";
$class-tinted                      : "tinted";
$class-gone                        : "gone";
$class-invisible                   : "invisible";
$class-inline                      : "inline";
$class-inline                      : "inline";
$class-inline-block                : "inline-block";
$class-block                       : "block";
$class-clearfix                    : "clearfix";
$class-no-overflow                 : "no-overflow";
$class-show-overflow               : "show-overflow";
$class-overflow-scroll             : "overflow-scroll";
$class-overflow-ellipsis           : "overflow-ellipsis";
// Block floating
$class-left                        : "left";
$class-right                       : "right";
$class-clear-left                  : "clear-left";
$class-clear-right                 : "clear-right";
$class-clear                       : "clear";
//////////////////////// TEXT
$class-link                        : "link";
$class-normal-cursor               : "normal-cursor";
// Fonts
$class-serif                       : "serif";
$class-sans-serif                  : "sans-serif";
// Text Alignment
$class-text-left                   : "text-left";
$class-text-right                  : "text-right";
$class-text-center                 : "text-center";
$class-text-justify                : "text-justify";
$class-uppercase                   : "uppercase";
$class-lowercase                   : "lowercase";
$class-small-caps                  : "small-caps";
$class-capitalize                  : "capitalize";
$class-nowrap                      : "nowrap";
$class-wrap                        : "wrap";
$class-small                       : "small";
$class-very-small                  : "very-small";
$class-light                       : "light";
$class-normal                      : "normal";
$class-b                           : "b";
$class-b-alt                       : "strong";
$class-i                           : "i";
$class-em                          : "em";
$class-u                           : "u";
$class-less-wide                   : "less-wide";
$class-wide                        : "wide";
$class-very-wide                   : "very-wide";
$class-extra-wide                  : "extra-wide";
$class-hanging-indent              : "hanging-indent";
//////////////////////// TABLES
$class-table                       : "table";
$class-table-row                   : "table-row";
$class-table-cell                  : "table-cell";
$class-fixed-layout                : "fixed-layout";
$class-auto-layout                 : "auto-layout";
$class-valign-baseline             : "valign-baseline";
$class-valign-center               : "valign-center";
$class-valign-bottom               : "valign-bottom";
$class-valign-top                  : "valign-top";
//////////////////////// POSITIONING
$class-relative                    : "relative";
$class-absolute                    : "absolute";
$class-fixed                       : "fixed";
$class-above                       : "above";
$class-way-above                   : "way-#{ $class-above }";
$class-way-way-above               : "way-#{ $class-way-above }";
$class-target-above                : "target-above";
$class-target-opaque               : "target-opaque";
$class-below                       : "below";
$class-top                         : "top";
$class-bottom                      : "bottom";
$class-tl                          : "tl";
$class-tr                          : "tr";
$class-br                          : "br";
$class-bl                          : "bl";
//////////////////////// CONTENT STYLING
$class-hardware-render             : "hardware-render";
$class-transitions                 : "transitions";
$class-no-transitions              : "no-#{ $class-transitions }";
$class-fast                        : "fast";
$class-slow                        : "slow";
// Sizing
$class-whole                       : "whole";
$class-width                       : "width";
$class-height                      : "height";
$class-max                         : "max";
$class-min                         : "min";
$class-whole-width                 : "#{ $class-whole }-#{ $class-width }";
$class-whole-height                : "#{ $class-whole }-#{ $class-height }";
$class-whole-max-width             : "#{ $class-whole }-#{ $class-max }-#{ $class-width }";
$class-whole-max-height            : "#{ $class-whole }-#{ $class-max }-#{ $class-height }";
$class-whole-min-width             : "#{ $class-whole }-#{ $class-min }-#{ $class-width }";
$class-whole-min-height            : "#{ $class-whole }-#{ $class-min }-#{ $class-height }";
$class-ratio                       : "ratio";
$class-no-background               : "no-background";
$class-no-max-height               : "no-max-height";
$class-no-max-width                : "no-max-width";
$class-reasonable-max-height       : "reasonable-max-height";
$class-reasonable-max-width        : "reasonable-max-width";
$class-reasonable-min-width        : "reasonable-min-width";
$class-target-reasonable-max-height: "target-reasonable-max-height";
$class-target-reasonable-max-width : "target-reasonable-max-width";
$class-line-height-matching        : "line-height-matching";
// Borders
$class-rounded                     : "rounded";
$class-t-rounded                   : "t-rounded";
$class-r-rounded                   : "r-rounded";
$class-b-rounded                   : "b-rounded";
$class-l-rounded                   : "l-rounded";
$class-tl-rounded                  : "tl-rounded";
$class-tr-rounded                  : "tr-rounded";
$class-bl-rounded                  : "bl-rounded";
$class-br-rounded                  : "br-rounded";
$class-whole-rounded               : "whole-rounded";
$class-no-rounding                 : "no-rounding";
$class-border-box                  : "border-box";
$class-no-border                   : "no-border";
$class-transparent-border          : "transparent-border";
$class-bordered                    : "bordered";
$class-t-bordered                  : "t-bordered";
$class-r-bordered                  : "r-bordered";
$class-b-bordered                  : "b-bordered";
$class-l-bordered                  : "l-bordered";
$class-lr-bordered                 : "lr-bordered";
$class-tb-bordered                 : "tb-bordered";
$class-ltr-bordered                : "ltr-bordered";
$class-lbr-bordered                : "lbr-bordered";
$class-spinner                     : "spinner";
// Padding
$class-no-padding                  : "no-padding";
$class-padded                      : "padded";
$class-t-padded                    : "t-padded";
$class-r-padded                    : "r-padded";
$class-b-padded                    : "b-padded";
$class-l-padded                    : "l-padded";
$class-lr-padded                   : "lr-padded";
$class-tb-padded                   : "tb-padded";
$class-table-padded                : "table-#{ $class-padded }";
// Margins
$class-no-margin                   : "no-margin";
$class-lr-auto-margin              : "lr-auto-margin";
$class-margin                      : "margin";
$class-t-margin                    : "t-margin";
$class-r-margin                    : "r-margin";
$class-b-margin                    : "b-margin";
$class-l-margin                    : "l-margin";
$class-lr-margin                   : "lr-margin";
$class-tb-margin                   : "tb-margin";
// Inputs
$class-appearance-none             : "appearance-none";
$class-text-input                  : "text-input";
$class-select                      : "select";
// Buttons/Colors
$class-sheer                       : "sheer";
$class-text-coloring               : "text-coloring";
$class-coloring                    : "coloring";
$class-button                      : "button";
$class-shallow-button              : "shallow-button";
$class-flat-button                 : "flat-button";
$class-hybrid-button               : "hybrid-button";
$class-button-shadow               : "button-shadow";
$class-text-shadowed               : "text-shadowed";
$class-button-shading              : "button-shading";
// Shadows
$class-inset-shadow                : "inset-shadow";
$class-deep-shadow                 : "deep-shadow";
$class-deep-inset-shadow           : "deep-inset-shadow";
$class-shadow                      : "shadow";
$class-no-shadow                   : "no-shadow";
